.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    .frontpagepic {
        width: 50%;
        margin-left: 760px;
        margin-top: -70px;
        animation: fadeIn 1s 3.7s backwards;
    }

    h1 {
        color: #FFFFFF;
        font-size: 80px;
        margin: 0;
        font-family: "Coolvetica";
        font-weight: 400;

        @keyframes float {
            0% {
    
                transform: translatey(0px);
            }
            50% {
                transform: translatey(-30px);
            }
            100% {
                transform: translatey(0px);
            }
        }
        .astro {
            width: 75px;
            position:absolute;
            z-index:0;
            padding-left: 10px;
            animation: fadeIn 1s 3.7s backwards;
            animation: float 6s ease-in-out infinite;
        }
        
        &::before{
            content: "<h1>";
            font-family: "La Belle Aurore";
            color:#FFFFFF;
            font-size: 18px;
            position: absolute;
            margin: -40px;
            left: 15px;
            animation: fadeIn 1s 3.7s backwards;
            opacity: 1;
            padding-top: 5%;
        }

        &::after{
            content: "<h1/>";
            font-family: "La Belle Aurore";
            color:#FFFFFF;
            font-size: 18px;
            position: absolute;
            margin-top: 50px;
            margin-left: 20px;
            animation: fadeIn 1s 3.7s backwards;
            opacity: 1;
        }
    }

    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: bold;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 3.7s backwards;
    } 

    .flat-button {
        color: #FFFFFF;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-style: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #FFFFFF;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 3.7s backwards;
        white-space: nowrap;
        
        &:hover {
            background: #371a46;
        }
    }

}